---
import { SITE, SETTINGS } from "../../config";
import Icon from "../ui/Icon.astro";

const currentYear = new Date().getFullYear();
const showRSS = SETTINGS.showRSSInFooter;
---

<footer class="footer">
    <div class="flex items-center gap-4">
        <span class="body-xs">&copy; {currentYear} {SITE.author}.</span>
    </div>
    <div class="flex items-center gap-4">
        {
            showRSS && (
                <a
                    href="/rss.xml"
                    aria-label="RSS Feed"
                    title="RSS Feed"
                    target="_blank"
                    rel="noreferrer"
                    class="btn-icon"
                >
                    <Icon name="RSS" size={16} />
                </a>
            )
        }
    </div>
</footer>
